<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        html {
            width: 100vw;
            height: 100vh;
        }
        body {
            display: flex;
            width: 100%;
            height: 100%;
            display: flex;

        }
        input {
            margin: 10px 0;
        }
    </style>
</head>
<body class="text-center">
    
    <main class="form-signin w-50 m-auto">
      <form action="{% url 'auth' %}" method="POST">
        {% csrf_token %}
        <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Пожалуйста войдите</h1>
    
        <div class="form-floating">
          <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Username</label>
        </div>
<!--        <div class="form-floating">-->
<!--          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">-->
<!--          <label for="floatingPassword">Password</label>-->
<!--        </div>-->
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" name="remember"> Запомнить меня
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        <p class="mt-5 mb-3 text-muted">Если вы не зарегестрированы, вас добавят в БД, иначе вы зайдете под своим аккаунтом</p>
        <p class="mt-5 mb-3 text-muted">© 2017–2023</p>
      </form>
    </main>
    
    
        
      
    
    <div id="torrent-scanner-popup" style="display: none;"></div><div class="mallbery-caa" style="z-index: 2147483647 !important; text-transform: none !important; position: fixed;"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>