*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131313;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
}

a {
    text-decoration: none;
}

.container {
    max-width: 1310px;
    padding: 0 20px;
    margin: 0 auto;
}

ul {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}